*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: blanchedalmond;
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 40px;
}

.choice:hover{
    cursor: pointer;
    opacity: 0.5;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,
#comp-score {
    font-size: 3rem;
}

.msg-container{
    margin-top: 3rem;
}

#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    padding: .75rem;
    display: inline;
    border-radius: .75rem;
}

@media(max-width:768px){
    .choices{
        flex-direction: column;
    }

    .msg-container{
        margin-bottom: 3rem;
    }

    #msg{
        font-size: 1rem;
    }
}